nav{
    display: flex;
}

ul.mainDropDowm {
    display: flex;
    flex-grow: 1;
    flex: auto;
    margin-left: 80px;
    width: 100%;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width:fit-content;
    white-space: nowrap;
}

ul.mainDropDowm li {
    list-style-type: none;
    height: 100%;
    padding-top: 4%;
    padding-left:25px;
    padding-right: 25px;
    border-radius: 5px;
    flex-grow: 1;
    flex-direction: column;
}

ul.mainDropDowm li:hover {
    background-color: #2b3e52;
}

ul.mainDropDowm a {
    color:#ebebeb;
    text-decoration:none;
    text-align:center;
    font-size: large;
    height: 100%;
}

ul.mainDropDowm a:hover {
    text-decoration: underline;
}

ul.mainDropDowm a.active{
    font-weight: bold;
    text-decoration: underline;
}

ul.mainDropDowm li:hover .dropDownContent{
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}

.dropDownContent{
    clear: both;
    margin-top: 20px;
    margin-left: -25px;
    padding: 15px;
    border-radius: 5px;
    display:none;   
    position:absolute;
    z-index: 100;
    overflow: auto;
    color: black;
    background-color: #2b3e52;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* .dropDownContent .href{
    font-weight: 200;
    margin: 5px;
    color: black;
} */

.imgInstitucional{
    background-image: url("../layouts/svg/building-hover.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.imgCarreras{
    background-image: url("../layouts/svg/landmark-hover.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.imgContact{
    background-image: url("../layouts/svg/square-phone-solid-hover.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1.1rem 1.1rem;
    background-repeat: no-repeat;
}

.imgLogin{
    background-image: url("../layouts/svg/user-solid-hover.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}