.content {
    display: flex;
    flex-direction: column;
    color:#001E2D;
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
    min-height: 60vh;
    /* padding-bottom:200px; */
    background-color:white;
}

.contentItem {
    display: flex;
    /* margin-left: 8%;
    margin-right: 8%; */
    margin-top: 1%;
    margin-bottom: 1%;
}

.contenidoPrincipal {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 1%;
    margin-bottom: 1%;
}

.contenidoCentrado {
    display: flex;
    justify-content: center;
    align-items:center;
}

.contenidoConMargen{
    margin: 50px;
}

.contenidoConMargenChico{
    margin: 5px;
}

.centered {
    text-align: center;
}


.content h1{
    font-family: inherit;
    font-size: 60px;
    margin: 5;
}

.content h2{
    font-family: inherit;
    font-size: 35px;
}

.content h3{
    margin: 0;
    font-size: 20px;
}

.content h4{
    margin: auto;
    font-family: inherit;
    font-size: 15px;
    text-align: left
}

.imgMapaUner{
    display: flex;
    background-image: url("../assets/mapa-uner.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position:center;
    width: 100%;
    height: 400px;
}

.seccionHeader {
    border-radius: 5px;
    display: flex;
    color:#ebebeb;
    background-color: #001E2D;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imgAccesoBedeliaWh {
    background-image: url("../layouts/svg/address-card.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.imgAccesoBedeliaWh:hover {
    background-image: url("../layouts/svg/address-card-hover.svg");
}

.imgCampusVirtualWh {
    background-image: url("../layouts/svg/address-book.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.imgCampusVirtualWh:hover {
    background-image: url("../layouts/svg/address-book-hover.svg");
}

.imgPlanEstrategicoWh {
    background-image: url("../layouts/svg/compass.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.imgPlanEstrategicoWh:hover {
    background-image: url("../layouts/svg/compass-hover.svg");
}

.imgCorreoInstitucionalWh {
    background-image: url("../layouts/svg/envelope-open.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.imgCorreoInstitucionalWh:hover {
    background-image: url("../layouts/svg/envelope-open-hover.svg");
}

.imgBibliotecaDigitalWh {
    background-image: url("../layouts/svg/bookmark.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.imgBibliotecaDigitalWh:hover {
    background-image: url("../layouts/svg/bookmark-hover.svg");
}

.imgCerrarSesionWh {
    background-image: url("../layouts/svg/exit-hover.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    padding-left: 1.3rem;
    color: #e9e9e9;
}

.imgCerrarSesionWh:hover {
    background-image: url("../layouts/svg/exit.svg");
}

.imgFacebook {
    display: flex;
    background: url("../layouts/svg/facebook.svg");
    fill:#3982e9;
    background-position-x: 0;
    background-position-y: center ;
    background-repeat: no-repeat;
    align-content: baseline;
    background-size: 30px;
    padding-left: 34px;
    /* width: 100%; */
    height: 30px;
    margin: 3px;
}

.imgInstagram {
    display: flex;
    background: url("../layouts/svg/instagram.svg");
    background-position-x: 0;
    background-position-y: center ;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 34px;
    /* width: 100%; */
    height: 30px;
    margin: 3px;
    fill:brown;
}

.imgTwiter {
    display: flex;
    background: url("../layouts/svg/twitter.svg");
    background-position-x: 0;
    background-position-y: center ;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 34px;
    /* width: 100%; */
    height: 30px;
    margin: 3px;
    fill:navy; 
}
/* *-iwh significa inverted with hover */

.imgCerrarSesionIwh {
    background-image: url("../layouts/svg/exit.svg");
    background-position-x: 3%;
    background-position-y: center ;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.imgCerrarSesionWh:hover {
    background-image: url("../layouts/svg/exit-hover.svg");
}

.celeste{
    color: #3982e9;
}

table , td, th {
	border: 1px solid #001E2D;
	border-collapse: collapse;
}
td, th {
	padding: 5px;
	width: auto;
	height: 25px;
}
th {
    font-weight: 100;
    border: 1px solid #e9e9e9;
    background-color: #001E2D;
    color: #e9e9e9;
}

.contentWithoutMargin{
    margin: 0;
}

.contentWithoutBotomMargin{
    margin-bottom: 0;
}

button.botonComun {
    margin-top: 1.5em;
    margin-right: 5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    text-align:center;
    background-color: #001E2D;
    color:#ebebeb;
    height:40px;
    padding:10px 10px;
    border: none;
    width: auto;
}

button.botonComun:hover {
    text-align:center;
    background-color: #cccccc;
    color: #001E2D;
    border: 1px solid;
    border-color: #001E2D;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;
    border: 2px solid;
    border-color: #001E2D;
    border-radius: 5px;
}

.dataLine {
    margin-top: 10px;
    margin: 5px;
    display: flex;
    width: auto;
}

label.dataTitle {
    display: flex;
    color: #ebebeb;
    background-color:#001E2D;
    border-radius: 5px;
    padding: 6px;
    font-size: 15px;
    align-items: center;
}

.dataEntry {
    vertical-align: baseline;
    text-align: justify;
    margin-left: 5px;
    font-size: 17px;
    padding: 6px;
    border-radius: 3px;
    display: inline;
    border: 1px solid;
    border-color: #001E2D;
    background-color:#ebebeb;
    overflow: hidden;
}
